body{
background-image: url("./img/Fondos.jpg");
background-repeat: no-repeat;
background-size: cover;
}
th,td{
padding: 20px;


}


/* -----------------Tarjeta------------------*/
.contenedor {
	width: 100%;

	max-width: 1000px;
	padding: 20px 5px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;

	z-index: 2;
  
}



.tarjeta > div{
    padding: 30px;
	
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148) ;
	

}
.tarjeta .delantera {
	width: 100%;
	
	background-size: cover;
}


.delantera .logo{
	text-align: right;
	min-height: 50px;
}

.delantera .logo  img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
    
}

.delantera .chip {
	width: 100%;
	max-width: 100px;
	margin-bottom: 20px;
	height: 100px;
	
}
.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}
.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .carrera {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
}
.delantera .felxbox{

    display: flex;
    justify-content:  space-between;
    margin-top: 20px;

}


 .borde{

	border: transparent;
 }
 .bordes{
text-align: end;
	border: transparent;
 }

